@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-color: rgb(33, 33, 33);
  --selected-color: rgb(33, 150, 243);
  --background-color: rgb(47, 48, 58, 1);
  --backgroundbutton-color: rgb(245, 244, 250, 1);
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
body {
  color: var(--main-color);
  font-family: var(--main-font);
}

/* HEADER */
.navBar {
  border: 1px solid rgba(236, 236, 236, 1);
}
.navIconFull {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: right;
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--secondary-font);
}
.navLink {
  color: var(--main-color);
}
.navList {
  gap: 30px;
  padding: 0;
  display: flex;
}
.navSection {
  gap: 93px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.navBox {
  gap: 306px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
}
.navIcon {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navContact {
  color: rgb(117, 117, 117);
}
.contactItem{
  gap: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  align-content: center;
  color:rgb(117, 117, 117);
  fill: rgb(117, 117, 117);
}
.contactPhone{
  width: 10px;
  height: 16px;
}
.contactMail{
  width: 16px;
  height: 12px;
}
.contactItem:hover svg,
.contactItem:focus svg,
.contactItem:active svg{
  cursor: pointer;
  fill: var(--selected-color);
}
/* -----HEADER----- */

/* -----INDEX----- */

/* MAIN */
.main {
  height: 600px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)) ,url(../images/main/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mainTheme {
  gap: 30px;
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 2 * 10px) / 1.5);
}
.mainTitle {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgb(255, 255, 255, 1);
}
.mainButton {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  margin: auto;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
}
.mainButton:hover,
.mainButton:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
  0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/* MAIN */
/* Values */
.mainValues {
  margin: 0;
  display: flex;
  flex-wrap: wrap;

}
.mainValues li {
  flex-basis: calc((100% - 30px * 3) / 4);
  align-items:flex-start;
}

.valueItem{
  gap: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.valuetext{
  gap: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.iconBack{
  border-radius: 4px;
  padding: 25px 100px;
  background: #F5F4FA;
}
.valueIcon{
  width:70px;
  height: 70px;
}

/* Values */

/* ABOUT */
.about {
  gap: 30px;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
/* ABOUT */

/* TEAM */
.mainTeam{
  gap: 50px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.team {
  background-color: rgb(245, 244, 250);
}
.teamMember {
  background-color: rgb(255, 255, 255, 1);
}
.teamName {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}
.teamJob {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(117, 117, 117);
  margin: 0;
}
.memberCard {
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 3 * 10px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.teamContent{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.teamSocial{
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.teamIcons{
  display: flex;
  fill:rgba(175, 177, 184, 1) ;
  padding: 12px;
  justify-content: center;
}
.teamIcon{
  margin: 0;
  width: 20px;
  height: 20px;
}
/* TEAM */

/* CLIENTS */
.mainClients{
  gap: 44px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.clients {
  gap: 30px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.client{
  border-radius: 4px;
  border: 1px solid rgba(175, 177, 184, 1);
  padding: 14px 32px;
}
.client:hover{
border: 1px solid var(--selected-color);
}
.client:hover svg{
  fill: var(--selected-color);
}
.logoClient{
  width: 106px;
  height: 53px;
  fill: rgba(175, 177, 184, 1);
}



/* ------INDEX----- */

/* -----PORTAFOLIO----- */
.filter {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}
.filterList {
  gap: 8px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filterClass {
  padding: 6px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6; /*se calcula dividiendo el line-height / font-size*/
  border-radius: 4px;
  letter-spacing: 0.03em; /*se coloca el valor en decimales*/
  cursor: pointer;
  border-style: hidden;
  background-color: var(--backgroundbutton-color);
}
.filterClass:hover,
.filterClass:focus,
.filterClass:active,
.filterCurrent {
  color: rgb(255, 255, 255);
  background-color: var(--selected-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.product {
  border-radius: 0px 0px 4px 4px;
  border: 1px solid rgb(238, 238, 238);
  flex-basis: calc((100% - 3 * 30px) / 3);
  cursor: pointer;
  flex-wrap: nowrap;
}
.productName {
  margin: 0;
  line-height: 2;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.product:hover,
.product:focus {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.portafolioCard {
  gap: 30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cardContent {
  gap: 4px;
  padding: 24px 18px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* -----PORTAFOLIO----- */

/* -----BODY------ */

/* FOOTER */
.footerBox {
  gap: 70px;
  display: flex;
}
.footerDetail {
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.footerSocial {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.detailList {
  gap: 9px;
  padding: 0;
  max-width: 231px;
  display: flex;
  flex-direction: column;
}
.socialList {
  gap: 10px;
  padding: 0;
  max-width: 206px;
  display: flex;
}
.ubication {
  display: flex;
  color: rgb(255, 255, 255);
}
.findUs {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}
.socialMedia {
  color: rgb(255, 255, 255);
}
.footer {
  padding: 45px;
  background-color: var(--background-color);
}
.footerIconFull {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: right;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: var(--secondary-font);
}
.footerContact {
  color: rgba(255, 255, 255, 0.6);
}
/* FOOTER */

/*GENERAL CONTENT*/
.container {
  padding: 0;
  max-width: 1200px;
  margin: auto;
}
.section {
  padding: 94px;
}
.current {
  color: var(--selected-color);
}
.list {
  list-style: none;
  margin: 0;
}
.subtitle {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.detail {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.03em;
}
.content {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}
.iconName {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  align-items: flex-end;
  text-decoration: none;
  color: var(--selected-color);
  font-family: var(--secondary-font);
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.link:hover, .link:focus {
  color: var(--selected-color);
}
.cardSet {
  gap: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.invisible {
  color: transparent;
}
.img {
  width: 100%;
  height: auto;
  object-fit: c;
}
